body {
  padding: 0 1rem;
  font-family: 'Roboto', sans-serif;
  max-width: 700px;
}
#app {
  min-height: 350px;
}
video {
  width: 640px;
  height: 480px;
  max-width: 100%;
  max-height: 100%;
}
.camera {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  position: relative;
}
#overlay {
  border: 1px solid black;
  position: absolute;
  max-width: 100%;
  z-index: 100;
}
#detectorCnv {
  position: absolute;
  left: 0;
  bottom: 0;
  border: 1px solid black;
}
.train-slider {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.train-slider span {
  margin-left: .5rem;
}
#trainClass {
  margin-right: .5rem;
}
.face-class {
  margin: .5rem 0;
  display: flex;
  align-items: center;
}
.face-class > .class-image {
  margin-right: 1rem;
}
.face-class > .class-name {
  flex: 1;
}
.canvas-container {
  display: none;
}
.stats-container {
  display: flex;
  font-size: 80%;
  margin: .5rem 0;
}
.stats-container .box {
  flex: 1;
}
.tabs {
  display: flex;
  font-size: 90%;
}
.tabs button {
  cursor: pointer;
  text-align: center;
  padding: .5rem 0;
  flex: 1;
  margin: .5rem 0;
  color: black;
  text-decoration: none;
  border-left: 1px solid #7f8c8d;
  border-right: 1px solid #7f8c8d;
  border-top: none;
  border-left: 1px solid #7f8c8d;
  border-right: 1px solid #7f8c8d;
  background-color: #bdc3c7;
  border-bottom: 1px solid #7f8c8d;
}
.tabs button:disabled {
  color: #bdc3c7;
  background-color: #95a5a6;
}
.tabs button.active {
  color: black;
  border-top: 1px solid #7f8c8d;
  border-bottom: none;
  outline: 0;
  background-color: #fff;
}
.tab-contents button {
  cursor: pointer;
  border-radius: 2px;
  background-color: #00a8ff;
  color: #fff;
  padding: 5px 10px;
  border: none;
  min-width: 80px;
}
.tab-contents button.primary {
  background-color: #2ecc71;
}
.tab-contents button.negative {
  background-color: #e74c3c;
}
.tab-contents button.neutral {
  background-color: #3498db;
}
.tab-contents button:disabled {
  color: #bdc3c7;
  background-color: #95a5a6;
}
.tab-contents button:hover {
  opacity: .9;
}
.status {
  color: red;
}
[v-cloak] {
  display: none;
}
.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
